.hero-section{
    background-color: #121212;
    height: calc(100vh - 67px);
    position: relative;
    
}

.hero-content{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
  z-index: 10;         /* higher than bg */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color : white;
  padding-top: 10%;
}

.dot-grid-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    overflow: hidden;
}

.hero-description{
    font-size: 21px;
    margin-top: 20px;
    text-align: center;
    max-width: 600px;
    color: #b5b5b5;
}