.hero-section{
    background-color: #121212;
    height: calc(100vh - 67px);
    position: relative;
    
}

.hero-content{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
  z-index: 10;         /* higher than bg */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color : white;
  padding-top: 10%;
  animation: intro 1s ease-out forwards;
}

.dot-grid-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    overflow: hidden;
}

.hero-description{
    animation: intro 1s ease-out forwards;
    font-size: 21px;
    margin-top: 20px;
    text-align: center;
    max-width: 600px;
    color: #b5b5b5;
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.Second-section{

    padding: 60px 20px;
  background: #0b0d10;
    color: white;
    text-align: center;
}

.title-2{
    animation: intro 1s ease-out forwards;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}

.description-2{
    animation: intro 1.4s ease-out forwards;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    color: #b5b5b5;
}

.features-container{
  animation: intro 1.8s ease-out forwards;
}

